.play{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.move{
    
    flex: 1;
    height: 400px;
    flex-direction: row;
}
.header{
    background-color: rgb(8, 157, 231);
    padding:3%;
    height:20px;
    font-family: "Tagesschrift", system-ui;
    font-size: 150%;
    transition:0.5s;
    box-shadow:  5px 5px 10px rgba(0, 250, 225, 0.397);
    vertical-align: middle;
    color: black;
    transition: 0.5s;
    vertical-align: middle;
    text-align: center;
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.header:hover{
    height:25px;
    box-shadow: 5px 5px 1000px rgb(0, 250, 225);
}
.score{
    transition: 0.5s;
   
   }
.score:hover{
    font-size: 25px;
}
.playbutton{
    margin-left: 20%;
    transition: 0.5s;
    width:60%;
    margin-top: 40px;
    margin-right: 20px;
    height: 45px;
    font-size: 20px;
    font-weight: 900;
    border-radius: 30px;
    color:  black;
    background-color: rgb(8, 157, 231);
    box-shadow:  5px 5px 10px rgb(0, 250, 225);
    vertical-align: middle;
    opacity:1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.playbutton:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 50px rgb(0, 250, 225);
    font-size: 25px;
}
.playarea{
    vertical-align: middle;
    
}
.images{
    width:60%;
    height: relative;
    margin-left: 20%;
    margin-top: 25px;
    transition: 0.5s;
    display: inline-block;
    
}
.images:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 100px rgb(0, 250, 225);
}
.scoretext{
    transition:0.3s;
     color:  black;
     font-size: 250%;
     font-weight: 900;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.heading{
    text-align: center;
    transition:0.7s;
    text-shadow: 5px 5px 10px rgb(0, 250, 225);
}
.heading:hover{
    transform: scale(1.2);
    text-shadow: 5px 5px 25px rgb(0, 250, 225);
}
.bodyindex{
    color: black;
    background-color: black;
}
.wintexts{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    vertical-align: middle;
    text-shadow: 5px 5px 10px rgb(0, 250, 225);
    transition:0.7s;
}
.wintexts:hover{
        text-shadow: 5px 5px 25px rgb(0, 250, 225);
        transform: scale(1.2);

}
.playagain{
    text-align: center;
}
